.Home1{
        background-image: url('./image/Turism.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        padding-top: 100px;
        flex-direction: column;
}

.Home1 p{
    font-size: 70px;
}

Link{
    text-decoration: none;
}

.btnIngresar {
    background-color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 30px;
    color: #000;
    border: 2px #000 solid;
}

.btnIngresar:hover {
    background-color: grey;
    color: white;
}