.btnPaginate2 {
    color: #fff;
    background-color: rgb(58, 57, 58);
    width: 30px;
    height: 30px;
    text-align: center;
    margin-right: 5px;
    padding-top: 10px;
}

.btnPaginate2:hover {
    cursor: pointer;
    color: #000;
    background-color: rgb(207, 204, 207);
    border: solid rgb(58, 57, 58) 1px;
    width: 30px;
    height: 30px;
}

.btnPaginate3 {
    color: #000;
    background-color: rgb(207, 204, 207);
    border: solid rgb(58, 57, 58) 1px;
    width: 30px;
    height: 30px;
}

